{% extends 'base.html' %}

{% block content %}
{% if msg %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="alert alert-success" role="alert">
      <p>{{ msg }}</p>
    </div>
  </div><!-- /.col -->
</div><!-- /.row -->
{% endif %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">Code Fighter</div>
      <div class="panel-body">
        <p>Welcome to Code Fighter Admin!</p>
        <form action="/gameadmin/" method="post" id="adminform">
          CreateGame: <input name="gamename" type="text" />
          <input name="operation" id="operation" value="" type="hidden" />
          <input name="create" value="Create" onclick="new_game()" type="button" onClick="Create()"/>
          <input name="random" value="Random" onclick="rand_new_game()" type="button" onClick="Random()"/>
        </form>
      </div>
    </div>
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}

{% block js %}
<script>
function new_game() {
  document.getElementById("operation").value = "Create";
  // console.log(document.getElementById("operation").value);
  document.getElementById("adminform").submit();
  return false;
}
function rand_new_game() {
  document.getElementById("operation").value = "Random";
  // console.log(document.getElementById("operation").value);
  document.getElementById("adminform").submit();
  return false;
}
</script>
{% endblock js %}
