{% extends 'base.html' %}

{% block content %}
{% if msg %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="alert alert-success" role="alert">
      <p>{{ msg }}</p>
    </div>
  </div><!-- /.col -->
</div><!-- /.row -->
{% endif %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">Welcome to Code Fighter Admin!</div>
      <div class="panel-body">
        <form class="form-inline" action="/gameadmin/" method="post" id="adminform">
          Create a new game: <!--<input name="gamename" type="text" /> -->
          <select class="form-control" name="gamename">
            {% for q in questions %}
            <option>{{ q }}</option>
            {% endfor %}
          </select>
          <input name="operation" id="operation" value="" type="hidden" />
          <input name="create" value="Create by name" onclick="new_game()" type="button" onClick="Create()"/>
          <input name="random" value="Random" onclick="rand_new_game()" type="button" onClick="Random()"/>
        </form>
      </div>
    </div>
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}

{% block js %}
<script>
function new_game() {
  document.getElementById("operation").value = "Create";
  // console.log(document.getElementById("operation").value);
  document.getElementById("adminform").submit();
  return false;
}
function rand_new_game() {
  document.getElementById("operation").value = "Random";
  // console.log(document.getElementById("operation").value);
  document.getElementById("adminform").submit();
  return false;
}
</script>
{% endblock js %}
