{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/libs/CodeMirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/libs/CodeMirror/theme/mdn-like.css">
<link rel="stylesheet" href="/static/libs/CodeMirror/addon/dialog/dialog.css">

<style>
.CodeMirror {
  border: 1px solid #eee;
  min-height: 200px;
  border-bottom: 1px solid #eee;
}

#answer {
  margin-bottom: 36px;
}
</style>
{% endblock %}
{% block headjs %}
<script src="/static/libs/CodeMirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/addon/edit/matchbrackets.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/mode/python/python.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/mode/clike/clike.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/keymap/vim.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/addon/edit/matchbrackets.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/addon/comment/comment.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/addon/dialog/dialog.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/addon/search/searchcursor.js" type="text/javascipt" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/addon/search/search.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Question {{ q_name }} <small>{{ q_desc }}</small></h2>
    <p><pre><code>{{ q_doc }}</code></pre></p>
  </div>
</div>
{% if result %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Lastest Submit Result</h2>
    <pre><code>{{ result }}</code></pre>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3>Answer</h3>
    <form action="/play/" method="post" id="answer">
      <div class="form-group">
        <textarea name="code" id="code">{{ example_ans }}</textarea>
      </div>
      <div class="form-group">Key buffer: <span id="command-display"></span></div>
<div style="font-size: 10px;">
<p>vim mode</p>
</div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="player_name">Player Name</label>
            <input class="col-sm-8" type="text" name="player_name" value="{{ player_name }}">
          </div>
        </div>
        <button class="col-sm-2 btn btn-danger" type="submit">Submit</button>
      </div><!-- /.row -->
    </form>
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}

{% block js %}
<script>
function betterTab(cm) {
  if (cm.somethingSelected()) {
    cm.indentSelection("add");
  } else {
    cm.replaceSelection(cm.getOption("indentWithTabs")? "\t":
      Array(cm.getOption("indentUnit") + 1).join(" "), "end", "+input");
  }
}

var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
  mode: {name: "python",
    version: 3,
    singleLineStringErrors: false},
  lineNumbers: true,
  indentUnit: 4,
  matchBrackets: true,
  showCursorWhenSelecting: true,
  lineWrapping: true,
  theme: 'mdn-like',
  keyMap: "vim",
  extraKeys: { Tab: betterTab }
});

/* vim mode */
var commandDisplay = document.getElementById('command-display');
var keys = '';
CodeMirror.on(editor, 'vim-keypress', function(key) {
  keys = keys + key;
  commandDisplay.innerHTML = keys;
});
CodeMirror.on(editor, 'vim-command-done', function(e) {
  keys = '';
  commandDisplay.innerHTML = keys;
});

</script>
{% endblock %}
