{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/libs/CodeMirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/libs/CodeMirror/theme/mdn-like.css">
<style>
.CodeMirror {
  border: 1px solid #eee;
  min-height: 200px;
  height: auto;
}
</style>
{% endblock %}
{% block headjs %}
<script src="/static/libs/CodeMirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/addon/edit/matchbrackets.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/libs/CodeMirror/mode/python/python.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Question {{ q_name }} <small>{{ q_desc }}</small></h2>
    <p><pre><code>{{ q_doc }}</code></pre></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3>Answer</h3>
    <textarea name="code" id="code">{{ example_ans }}</textarea>
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}

{% block js %}
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
  mode: {name: "python",
    version: 3,
    singleLineStringErrors: false},
  lineNumbers: true,
  indentUnit: 4,
  matchBrackets: true,
  lineWrapping: true,
  theme: 'mdn-like',
});
</script>
{% endblock %}

